<%= form_for(@news_discussion) do |f| %>
  <% if @news_discussion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@news_discussion.errors.count, "error") %> prohibited this news_discussion from being saved:</h2>

      <ul>
      <% @news_discussion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :headline %><br />
    <%#= @hd%>
    <%= f.text_area :headline, :value => @hd, :rows => 1, :cols => 10, :readonly => true%>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content, :rows => 8, :cols => 13 %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :value => current_user.username, :readonly => true%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


