<a class="brand" href="/newscategory/index">NewsBoard</a>  
<ul class="nav">
<li><%= link_to('Discussion',news_discussions_path) %></li>
  <% if user_signed_in? %>
    <li><%= link_to("Hello! #{current_user.username}","") %></li>
    <li><%= link_to('Logout', destroy_user_session_path, :method=>'delete') %></li>
  <% else %>
    <li><%= link_to('Login', new_user_session_path) %></li>  
    <li><%= link_to('New User?', new_user_registration_path) %></li> 
  <% end %>
</ul>